<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="/party/static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/Edit-book.css}" href="/party/static/css/Edit-book.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/party/static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/FontsAwesome/css/all.min.css}" href="/party/static/css/FontsAwesome/css/all.min.css">
</head>
<body>
<div class="container-fluid">
    <div class="row py-3 w-100 navBar ">
        <div class="col-12">
            <ul class="nav">
                <li class="nav"><a class="nav-link" href="/">All books</a></li>
                <li class="nav"><a class="nav-link" href="/advancedSearch">All books: advanced search</a></li>
                <li class="nav"><a class="nav-link" href="/authors">All authors</a></li>
            </ul>
        </div>
    </div>

    <div class="row mb-5 marginTop">
        <div class="col-8 text-center">
            <h2>CREATE BOOK</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <form th:action="@{|/admin/create-book|}" method="post">

                <label for="bookTitle">Title</label>
                <input type="text" id="bookTitle" name="bookTitle">

                <label for="bookIsbn">Isbn</label>
                <input type="text" id="bookIsbn" name="bookIsbn">


                <label for="bookAuthor">Author</label>
                <select name="bookAuthor" id="bookAuthor">
                    <option th:each="author:${authors}" th:text="${author.name}"></option>
                </select>


                <label for="bookGenre">Genre</label>
                <select name="bookGenre" id="bookGenre">
                    <option th:each="genre:${genres}" th:text="${genre.genreName}"></option>
                </select>


                <label for="bookPages">Pages</label>
                <input type="number" id="bookPages" name="bookPages">


                <label for="bookRead">Read: true of false?</label>
                <input type="text" id="bookRead" name="bookRead">

                <input type="submit" id="submit" name="CREATE" class="w-25">
                <button class="w-25"><a href="/books">CANCEL</a>
                </button>

            </form>
        </div>
    </div>
    <div class="row footer">
        <div class="col-12">
            <div class="row py-3">
                <div class="col-3 text-center"><a class="nav-link" href="#"><i class="fab fa-facebook fa-2x"></i></a> </div>
                <div class="col-3 text-center"><a class="nav-link" href="#"></a><i class="fab fa-instagram fa-2x"></i> </div>
                <div class="col-3 text-center"><a class="nav-link" href="#"></a><i class="fab fa-linkedin-in fa-2x"></i> </div>
                <div class="col-3 text-center"><a class="nav-link" href="#"></a> <i class="fab fa-github fa-2x"></i></div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center">Made by Yoram Hernalsteen</h2>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>