<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/FontsAwesome/css/all.min.css}"
          href="/party/static/css/FontsAwesome/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/party/static/css/style.css">

</head>
<body>
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-8 offset-2 howTo">
            <h1>How to add books</h1>
            <p>First you have to check whether the author already exist in the application. If the author is not yet
                registered, create a new author first via:<a href="/admin/create-author"> this link</a></p>
            <p>Afterwards you can check if the genre already exist. If it doesn't, create the genre via: <a href="/admin/create-genre">this link</a></p>
            <p>Now you are ready to add a new book via: <a href="/admin/create-book"> here</a></p>

               <p class="text-center"><button class="kleur"><a href="/"><i class="fas fa-home fa-6x"></i></a></button></p>
            </div>
    </div>
</div>

</body>
</html>